:root{
    --background-header: rgb(27, 18, 79);
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#navbar{
    width: 100%;
    padding: 0;
    height: 90px;
    background-color: var(--background-header);
    position: fixed;
    display: flex;
}
#logo{
    max-width: fit-content;
    height: 90px;
    padding-right: 2px;
}
#choice{
    /* height: 90px; */
    max-width: fit-content;
    text-decoration: none;
    text-align: center;
    padding: 2px;
    box-sizing:content-box;
    position:relative;
    align-content: center;
    /* top: 40px; */
}
a{
    text-decoration: none;
}

h1{
    text-align: center;
    color: rgb(126, 62, 62);
}
#banner{
    background-color: var(--background-header);
    /* margin-top: 90px; */
    padding-top: 90px;
    object-fit: cover;
    width: 100%;
}
.location{
    color: gray;
    margin-bottom:16px ;
}
#about{
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding: 8px;
}
#description{
    width: 50%;
    background-color: aliceblue;
    padding-right: 8px;
}
#team{
    width: 50%;
    border-radius:15px ;
}
/* Unvisited link */
a:link {
    color: palevioletred;
}
  /* Visited link */
a:visited {
    color: green;
}
  /* Mouse over link */
a:hover {
    color: red;
}
  /* Selected link */
a:active {
    color: yellow;
}  

h2{
    text-align: center;
}
#jobs{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 8px;

}

h3{
    margin-bottom: 8px;
    margin-top: 0;
}

.apply{
    float: right;
}
#footer{
    background-color: ghostwhite;
    padding: 8px;
    margin-top: 32px;
    text-align: center;
}

#footer-links{
    list-style: none;
}
#footer-links li{
    display: inline;
    margin: 0 6px;
}
.copyright{
    color: gray;
}